# Used to install local packages (instead just symlinking)
# Local war3-transformer has a peerDependency that is also a devDependency,
# with symlinking it include it, but MUST NOT.
# This allows to only include actual production dependencies.
install-links=true
